<div class="container" id="home-container">
    <div class="jumbotron text-center text-white">
        <h1 class="display-4">Splash</h1>
        <p class="lead">You don't feel good, you got trouble lately, you want a place where you can talk about it in a peaceful environment?</p>
        <hr class="my-4">
        <p>This special blog will be the place to slighly splash all your dissatisfaction with respect and honesty.</p>
        <%= link_to 'Sign up!', signup_path, class: "btn btn-success btn-lg" %>
    </div>
</div>






